* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans Caption', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, blockquote {
  width: 700px;
  margin: 0 auto;
}

h1 {
  margin-top: 80px;
  font-size: 42px;
  line-height: 55px;
  font-weight: bold;
}

h2 {
  margin-top: 60px;
  font-size: 31px;
  line-height: 34px;
  font-weight: bold;
}

h3 {
  margin-top: 50px;
  font-size: 24px;
  line-height: 26px;
  font-weight: bold;
}

p {
  margin-top: 40px;
  font-size: 21px;
  line-height: 32px;
}

h1 + p {
  font-family: 'PT Sans Caption', sans-serif;
}

div {
  margin-top: 40px;
}

.image-1 {
  margin-top: 40px;
  display: block;
  width: 700px;
  height: 300px;
  margin: 0 auto;
  position: relative;
}

.image-2 {
  margin-top: 40px;
  display: block;
  width: 1050px;
  height: 300px;
  margin: 0 auto;
  position: relative;
}

.image-1-1 {
  position: absolute;
  left: 25px;
}

.image-1-2 {
  position: absolute;
  right: 25px;
}

.image-2-1 {
  position: absolute;
  right: 375px;
}
