.sidebar {
  position: fixed;
  top: 30px;
  left: 20px;
  width: 230px;
  padding: 13px 30px;
  opacity: .05;
  transition: all .3s ease;
  background: rgba(255, 255, 255, 0.75);
}

.sidebar:hover {
  opacity: 1;
}

.sidebar li {
  margin-top: 12px;
  line-height: 14px;
  font-size: 15px
}

.sidebar > ul > li:first-child {
  font-weight: bold;
}

.sidebar > ul > li:hover {
  font-weight: bold;
}
